
.creator-name{
    border-bottom: 2px solid red;
}
.font-weight-light > p {
    font-size: 13px;
}


li {
    list-style-type: none;
}
.limited {
    padding-left: 0;
}

.comment-action, .comment-creator {
    font-size: 13px;
}
.comment-list {
    padding-left: 0;
    font-size: 15px;
}
.comment-item {
    padding: 10px;
    word-break: break-all;
}
.reply-comment-item {
    padding: 5px;
    word-break: break-all;
}

.text-secondary:hover {
    cursor: pointer;
}
.text-secondary {
    padding-left: 10px;
}
.answer:hover {
    cursor: pointer;
}
.replies-list {
    margin-bottom: 0;
}

.animate {
    animation-name: yellowFlash;
    animation-duration: 1s;
    animation-play-state: revert;
}

@keyframes yellowFlash {
    from {background-color: #d0a21b;}
    to {background-color: #f8fafc;}
}
